.country {
  padding-top: 20px;

  .chart {
    width: 90%;
    margin: 25px auto;
  }
  .link {
    color: rgb(150, 150, 150);
    text-decoration: none;
  }
}
@media screen and(max-width:620px) {
  .country {
    .chart {
      width: 100%;
    }
  }
}
